<div class="container p-5">
  <div class="relative max-h-fit my-5">
    <img
      class="absolute inset-0 -z-20 object-cover rounded-xl w-full h-full brightness-50"
      src="assets/images/about-us.jpg"
      alt="about us"
    />

    <div class="top-0 p-3 sm:p-5 z-50">
      <h3 class="text-white text-3xl font-bold mb-3">About Us</h3>
      <p class="text-white">
        DevClips, founded in 2010, is your trusted coding companion. Our vision
        is to simplify the coding journey. We offer concise, expert-made video
        clips that enable beginners and pros to grasp coding concepts
        effortlessly. With a thriving global community and an ever-growing
        library, we're here to make coding accessible, enjoyable, and rewarding
        for all. Join us on this exciting coding adventure!
      </p>
    </div>
  </div>
  <div class="max-w-[60ch] mx-auto">
    <h3 class="text-2xl mt-5 mb-2">Our Vision</h3>
    <p class="text-slate-900 dark:text-slate-400">
      At DevClips, our vision is clear: we're here to simplify coding education.
      Founded in 2010, we set out to transform the way people learn and share
      coding knowledge. Our platform offers short, expert-crafted video clips
      that break down complex concepts into easily digestible bites. Whether
      you're starting your coding journey or a seasoned pro, DevClips is your
      go-to resource for hassle-free learning.
    </p>

    <h3 class="text-2xl mt-5 mb-2">Our Community</h3>
    <p class="text-slate-900 dark:text-slate-400">
      DevClips isn't just a platform; it's a global community of coding
      enthusiasts. With millions of users and an extensive video library
      covering various programming languages and tools, we've built a space for
      knowledge-sharing and collaboration. Whether you're looking for quick tips
      or in-depth tutorials, you're part of a community that thrives on making
      coding accessible and enjoyable for all. Join us today and be a part of
      our ever-growing coding family!
    </p>
  </div>
</div>
