<div class="container">
  <div class="grid grid-cols-1 md:grid-cols-2 items-end gap-8 max-h-min">
    <img
      class="object-cover w-full h-full max-h-[250px]"
      src="assets/images/about-us-1.jpg"
      alt="about us"
    />
    <div>
      <h3 class="text-xl uppercase font-light">About Us</h3>
      <p class="text-slate-800 dark:text-slate-400 font-light">
        DevClips, founded in 2010, is your trusted coding companion. Our vision
        is to simplify the coding journey. We offer concise, expert-made video
        clips that enable beginners and pros to grasp coding concepts
        effortlessly. With a thriving global community and an ever-growing
        library, we're here to make coding accessible, enjoyable, and rewarding
        for all. Join us on this exciting coding adventure!
      </p>
    </div>
    <!-- --------------------------- -->
    <div class="md:col-span-2">
      <h3 class="text-xl uppercase font-light">Our Vision</h3>
      <p class="text-slate-800 dark:text-slate-400 font-light">
        At DevClips, our vision is clear: we're here to simplify coding
        education. Founded in 2010, we set out to transform the way people learn
        and share coding knowledge. Our platform offers short, expert-crafted
        video clips that break down complex concepts into easily digestible
        bites. Whether you're starting your coding journey or a seasoned pro,
        DevClips is your go-to resource for hassle-free learning.
      </p>

      <h3 class="text-xl uppercase font-light mt-5">Our Community</h3>
      <p class="text-slate-800 dark:text-slate-400 font-light">
        DevClips isn't just a platform; it's a global community of coding
        enthusiasts. With millions of users and an extensive video library
        covering various programming languages and tools, we've built a space
        for knowledge-sharing and collaboration. Whether you're looking for
        quick tips or in-depth tutorials, you're part of a community that
        thrives on making coding accessible and enjoyable for all. Join us today
        and be a part of our ever-growing coding family!
      </p>
    </div>
  </div>
</div>
